/**************** Reinicio de Styles *************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   

}


/**************** Variables **********************/

:root {
    --facebook: #3b5999;
    --twitter: #55acee;
    --linkedin: #0077B5;
}
/**************** TAGS STYLES ********************/

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    background: 	#212129;
    text-align: center;
    color: #c3c3c3;
}

h1 {
    color: #c3c3c3;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin: 50px auto 0 auto;
}

h2 {
    color: #c3c3c3;
    font-size: 2.1875em;    
    padding: 30px;
}

h3 {
    font-size: 1.375em;
    color: #1687a7;
}

p {
    font-size: 1.125rem;
}

a {
    color: #1687a7;
}

img {
    display: block;
    max-width: 95%;
    margin: auto;
}

hr {
    border-style: dotted none none none;
    height: 3px;
    width: 5%;
    border-color: #a7bbc7;
    border-width: 8px;
    margin: 6.25rem auto;
    

}

a {
    display: inline-block;
    font-size: large;
    padding: 1.25em;
    text-decoration: none;
}

/*************** Class Styles *******************/


.top-container { 
    margin-bottom: 0;
    padding: 6.25em 1.25em 0 1.25em;
    position: relative;
    
}

.middle-container {
    padding: 6.25em 1.25em 5rem 1.25em;
    background-color: #222831;
}

.bottom-container {
    padding: 3.125em 1.25em 3.125rem 1.25em;
}
.top-cloud {
    position: absolute;
    right: 25%;
    top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    top: 390px;
}

.profesion {
    font-weight: normal;
}

.skills {
    width: 60%;
    margin: auto;
}

.skill-row {
    width: 90%;
    margin: 100px auto;
    text-align: left;
}
.skill-row h2, p {
    line-height: 2;
}


.img-skills-const{       /*Contenedor imagenes skills-Const*/
    width: 9.375rem;
    height: 9.375rem;   
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.img-skills-dev{       /*Contenedor imagenes skills-dev*/
    width: 9.375rem;
    height: 9.375rem;   
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
}

.skill-const, .skill-progr{
    width: 100%;
    height: 100%;
    border-radius: 100%;    
}

.btn {
    color: #c3c3c3;
    width: 12.5rem;
    font-size: 1.25em;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: 	#00897b;
}

.btn:hover {
    color: #212129;
    background-color: #c3c3c3;
}

/***FOOTER***/

.redes {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
      
}
.redes a {
    display: block;
    color: #c3c3c3;
    padding: 0 20px;
    line-height: 50px;
    font-size: 3.75em;
}

.linkedin:hover {
    color: var(--linkedin);
}

.facebook:hover {
   color: var(--facebook);
}

.twitter:hover {
    color: var(--twitter);
}
